@media(min-width:1200px) {
    #navbarNavAltMarkup li.hs-menu-item {
        width:140px
    }
}@media(min-width:1440px) {
    #navbarNavAltMarkup li.hs-menu-item {
        width:150px
    }
}#navbarNavAltMarkup .hs-menu-flow-horizontal {
    -ms-flex:1 1 auto !important;
    flex:1 1 auto !important;
    display:flex
}
#navbarNavAltMarkup .hs-menu-flow-horizontal ul {
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:column;
    flex-direction:column;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    -ms-flex:1 1 auto !important;
    flex:1 1 auto !important
}
nav.navbar {
    position:static;
    font-size:16px
}
.nav-cta.btn-outline {
    margin-left:auto;
    margin-right:8px
}
.nav-cta.btn-outline .cta_button {
    font-size:16px;
    padding:6px 8px;
    background:transparent;
    color:#474747;
    border:1px solid #f0a045
}
.nav-cta.btn-outline .cta_button:hover {
    background:transparent;
    color:#f08445
}
@media(min-width:992px) {
    #navbarNavAltMarkup .hs-menu-flow-horizontal ul {
        -ms-flex-direction:row;
        flex-direction:row
    }
    nav.navbar {
        padding:9px 24px;
        background-color:transparent;
        position:fixed
    }
    nav.navbar.scrolled {
        background-color:#fff
    }
}#navbarNavAltMarkup li.hs-menu-item {
     -ms-flex:1 1 auto;
     flex:1 1 auto;
     text-align:center;
     list-style:none;
     -ms-flex:1 1 auto;
     flex:1 1 auto;
     list-style:#fff
 }
#navbarNavAltMarkup li.hs-menu-item a {
    color:#474747;
    padding-right:.5rem;
    padding-left:.5rem;
    display:block;
    padding:.5rem 1rem;
    text-decoration:none;
    background-color:transparent
}
.nav-cta .cta_button {
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    border:1px solid transparent;
    line-height:1.5;
    text-decoration:none;
    font-size:16px;
    padding:4px 12px;
    color:#fff;
    border-radius:6px;
    background-color:#f0a045
}
.nav-cta .cta_button:hover {
    color:#fff;
    background-color:#f08445
}
nav.navbar img {
    width:72px !important
}
#navbarNavAltMarkup li.hs-menu-item {
    text-align:left
}
#navbarNavAltMarkup {
    position:relative
}
#navbarNavAltMarkup .hs_cos_wrapper {
    padding-top:32px
}
#navbarNavAltMarkup .btn-link {
    position:absolute;
    top:0;
    right:0;
    margin:0 64px
}
nav.navbar #navbarNavAltMarkup a.nav-link,nav.navbar #navbarNavAltMarkup a.btn-login {
    color:rgba(0,0,0,.9);
    font-size:inherit;
    line-height:1.5;
    padding:11px
}
nav.navbar #navbarNavAltMarkup a.btn-login {
    border:0
}
#navbarNavAltMarkup a.btn-login:hover {
    text-decoration:none
}
.dropdown-submenu {
    position:relative
}
.dropdown-menu a {
    color:rgba(0,0,0,.9)
}
.dropdown-menu a:hover {
    color:rgba(0,0,0,.9);
    text-decoration:none
}
#navbarNavAltMarkup .hs_cos_wrapper {
    padding:0
}
.navbar-collapse {
    padding-top:38px
}
.navbar-nav .dropdown-menu {
    border:0
}
.dropdown-menu>li {
    padding-left:16px;
    margin-bottom:12px
}
nav.navbar .navbar-toggler {
    border:0
}
@media(min-width:992px) {
    .nav-cta .cta_button:hover {
        color:#fff
    }
    .navbar-nav .dropdown-menu {
        border:1px solid rgba(0,0,0,.15)
    }
    .navbar-collapse {
        padding-top:0
    }
    nav.navbar #navbarNavAltMarkup a.nav-link,nav.navbar #navbarNavAltMarkup a.btn-login {
        color:#fff
    }
    nav.navbar.shadow-sm #navbarNavAltMarkup a.nav-link,nav.navbar.shadow-sm #navbarNavAltMarkup a.btn-login {
        color:rgba(0,0,0,.9)
    }
    .dropdown-menu li {
        margin:24px 0
    }
    #navbarNavAltMarkup>#hs_cos_wrapper_module_153233013727361_nav_menu {
        -ms-flex:1 1 auto;
        flex:1 1 auto
    }
    .dropdown-menu a {
        padding:20px;
        color:#383838
    }
    li.nav-item.active:first-child {
        margin-left:38px
    }
    li.nav-item.active {
        margin-right:45px
    }
    #navbarNavAltMarkup .btn-link {
        margin:0;
        position:static
    }
}


.sec-footer {
    background-color:#979797;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.5)
}
.row {
    margin:0 !important
}
.sec-footer a {
    color:#fff
}
.sec-footer a:hover {
    color:#fff;
    text-decoration:none
}
.sec-footer-content {
    margin:50px 0 0;
    color:#fff
}
.footer-logo,.social-links {
    margin-bottom:20px
}
.social-links a {
    margin:0 6px 0;
    display:inline-block
}
.sec-footer .mb-32 {
    margin-bottom:32px
}
.sec-footer {
    background-color:#979797;
    box-shadow:0 2px 4px 0 rgba(0,0,0,0.5)
}
.sec-footer-content {
    margin:50px 0 0;
    color:#fff
}
.sec-footer-content a {
    color:#fff
}
.sec-footer-content a:hover {
    color:#fff;
    text-decoration:none
}
.footer-logo {
    margin-bottom:20px
}
